{{#partial "content"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                {{#if rangers}}
                    {{#each rangers as |ranger|}}
                        <div class="entries">
                            <p class="text" id={{ranger.id}}>{{ranger.name}}</p><br>
                            <a href="/view/ranger/sightings/{{ranger.id}}"><button class="btn btn-primary btn-md">View
                                Sightings</button></a>
                            <a href="/view/ranger/delete/{{ranger.id}}"><button class="btn btn-danger
                            btn-md">Delete This Ranger</button></a>
                        </div>
                        <hr><br>
                    {{/each}}

                {{else}}
                    <p class="text display-4">No rangers. Create <a href="/create/ranger">HERE</a></p>
                {{/if}}
            </div>
            <div class="col-md-8">
                {{#if sightings}}
                    <div class="card text-white bg-info">
                        <div class="card-body">
                            <h1 class="card-title">Sightings</h1>
                            <hr>
                            <div class="col-md-4">
                                <h3>Time</h3>
                                <hr>
                                {{#each sightings as |sighting|}}
                                    <li class="card-text ">{{sighting.time}}</li>
                                {{/each}}

                            </div>
                            <div class="col-md-4">
                                <h3>Animal</h3>
                                <hr>
                                {{#each animals as |animal|}}
                                    <li class="card-text ">{{animal}}</li>
                                {{/each}}

                            </div>
                            <div class="col-md-4">
                                <h3>Type</h3>
                                <hr>
                                {{#each types as |type|}}
                                    <li class="card-text ">{{type}}</li>
                                {{/each}}
                            </div>

                        </div>
                    </div>

                {{/if}}
            </div>
        </div>
    </div>

{{/partial}}
{{> layout.hbs}}